.form-box{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 166, 0, 0.173);
}

.login-form{
      border: 1px solid #ccc;
    border-top-color: #eee;
    border-left-color: #eee;
    /* Soft shadow to lift it */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    border-radius: 4px;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin: auto;
    background-color: whitesmoke;
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}

.tocenter{
    display: flex;
    justify-content: center;
    align-items:center ;
}

/* Media style */

@media (max-width:998px) {
}

@media (min-width:998px) {
    
}

@media (max-width:576px) {

}