*{
    padding: 0;
    margin: 0;
}

/* Navbar style */

.brand-logo{
    width: 100px;
    height: 100px;
}

.cartNotify{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.cartCount{
    font-size: 10px;
    background-color: red;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-weight: bold ;
    padding-bottom: 15px;
}
.cart-icon{
    margin-top: 5px;
}
.auth:hover{
    color: red;
}

/* Banner style */

.banner{
    height: 70lvh;
}

.box-home{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items:center ;
    margin: auto
}

.box-home .box1{
    width: 200px;
    height: 200px;
    background-image:url(./assets/png/design.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding-top:30px;
}

.box-home .box1 img{
    width: auto;
    height: 100px;
    padding: 10px;
    cursor: pointer;
}

.about-title{
    text-align: center;
    background: linear-gradient(to right, #e07400, #e7ad02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.hrline{
    height: 3px;
    width: 200px;
    border: none;
    background-color: #ed7a00;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.box-home .box1 img:hover{
    transition: 0.3s;
    width: auto;
    height: 105px;
    padding: 0px;
}

.box-home .box1 .about-img{
    height: 130px;
    align-items: start;
}


/* Footer */
.foot{
    color:#757575;
}

/* Media style */

@media (max-width:998px) {
    .banner{
        width: 90%;
        height: auto;
    }
    .box-home{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items:center ;
    margin: auto
}
}

@media (min-width:998px) {
    .banner{
        width: 90%;
        height: 60hlv;
    }
        .box-home{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items:center ;
    margin: auto
}
}

@media (max-width:576px) {
    .banner{
        width: 95%;
        height: auto;
    }
        .box-home{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items:center ;
    margin: auto
}
}